[info]
shorttitle=HELLDIVERS II
longtitle=HELLDIVERS II - Terminid battle
publisher=Joris Brugman
icon=media/images/converted/48x48-logo.rgb565.png

[frames]
top.type=texture
top.frame=single
bottom.type=color
bottom.frame=single

[textures]
top.image=media/images/converted/hd-bg-corrected.rgb565.png

[colors]
cursorcolor.dark=0xfde800
cursorcolor.main=0x222323
cursorcolor.light=0xfde800
cursorcolor.glow=0x222323
foldercolor.dark=0x686868
foldercolor.main=0xfde800
open.textshadowpos=1.502
foldercolor.light=0xfde800
open.dark=0x887d00
foldercolor.shadow=0xfde800
open.main=0x222323
filecolor.dark=0x000000
open.light=0xfde800
filecolor.main=0x686868
open.glow=0x222323
filecolor.light=0x262626
open.shadow=0x222323ff
filecolor.shadow=0x000000ff
open.textshadow=0x000000
open.textmain=0xfde800
open.textselected=0x887d00
close.textshadowpos=1.502
close.dark=0x887d00
close.main=0x222323
close.light=0xfde800
close.glow=0x000000
close.shadow=0x000000ff
close.textshadow=0x000000
close.textmain=0xfde800
close.textselected=0x887d00
folderarrowcolor.textshadowpos=1.506
folderarrowcolor.dark=0x686868
folderarrowcolor.main=0x686868
folderarrowcolor.light=0x686868
folderarrowcolor.glow=0x000000
folderarrowcolor.shadow=0x686868ff
folderarrowcolor.textshadow=0x222323
folderarrowcolor.textmain=0xfde800
folderarrowcolor.textselected=0x887d00
arrowbuttoncolor.dark=0x222323
arrowbuttoncolor.main=0x686868
arrowbuttoncolor.light=0x222323
arrowbuttoncolor.shadow=0x222323ff
arrowcolor.border=0x887d00
arrowcolor.unpressed=0xfde800
arrowcolor.pressed=0x887d00
bottomcornerbuttoncolor.dark=0x222323
bottomcornerbuttoncolor.main=0xfde800
bottomcornerbuttoncolor.light=0xfde800
bottomcornerbuttoncolor.shadow=0xfde800
bottomcornerbuttoncolor.iconmain=0x222323
bottomcornerbuttoncolor.iconlight=0x222323
bottomcornerbuttoncolor.icontextmain=0x222323
topcornerbuttoncolor.main=0xfde800
topcornerbuttoncolor.light=0x222323
topcornerbuttoncolor.shadow=0x222323
topcornerbuttoncolor.textmain=0x222323
folderbgcolor.dark=0xfde800
folderbgcolor.main=0x222323
folderbgcolor.light=0x222323
folderbgcolor.shadow=0x222323ff
demotextcolor.main=0x222323
demotextcolor.textmain=0xfde800
gametext.main=0xfde800
gametext.light=0x222323
gametext.shadow=0x222323ff
gametext.textmain=0x222323
bottombgoutercolor.dark=0xfde800
bottombgoutercolor.main=0x262626
bottombgoutercolor.light=0x222323
bottombginnercolor.dark=0xfde800
bottombginnercolor.main=0x3c3c3c
bottombginnercolor.light=0xfde800
bottombginnercolor.shadow=0xfde800ff

[audio]
bgm=media/sounds/converted/bgm.bcstm
sfx.close=media/sounds/converted/eagle1-close-game.bcwav

[kame-editor]
deploy=hd2-theme-v1.zip
